* {
  padding: 0;
  margin: 0;
} 

body {
  background-color: #f0f0f0;
  margin: 0px 20px 20px 20px;
	line-height: 1.5em; 
  font: 76%/1.6em verdana, tahoma, arial,  sans-serif;
  color: #333;
}

a {
  color: #265e15;
	text-decoration: none;
}

a:link, a:visited {
	color: #265e15;	
}

/*
a:hover, a:active {
  border-bottom: #963 1px solid;
}
*/

dl {
  padding-left: 10px;
  margin: 1em 0;
  color: #333;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0.5em;
  padding: 0;
}

blockquote {
  text-indent: 10px;
  margin-bottom: 10px;
  font-style: italic;
}

#content {
  border: #ccc 1px solid;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 724px;
  margin: 20px auto;
}

.extlinks {
  padding: 10px;
  background-color: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#777));
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
}

.extlinks a {
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
}

.extlinks a:link, .extlinks a:visited {
	color: #FFF;	
}

.extlinks a:hover, .extlinks a:active {
	border-bottom: none;
}

.extlinks ul {
  text-align: right;
}

.extlinks li {
  display: inline;
  padding-right: 15px;
}

.header h1 {
  font-family: Georgia, serif;
  font-size: 30px;
  font-variant: small-caps;
  padding-left: 17px;
  padding-top: 22px;
  color: #000;
}

.header h2 {
  font-size: 16px;
  font-weight: normal;
  padding-left: 17px;
  padding-top: 0px;
  color: #000;
}

.middle {
	float: right;
	width: 74%;
	margin: 10px 10px;
	padding: 1% 1%;
	text-align: justify;
}

.middle p {
	padding-bottom: 10px;
}

.sidebar {
	float: left;
	width: 14%;
	margin: 0 10px;
	padding: 1% 1%;
}

.localnav ul {
	padding-top: 20px;
	margin: 0;
}

.localnav li {
	list-style-type: none;
  color: #265e15;
}

.buttons {
	text-align: center;
	margin-top: 30px;
}

span.tiny {
  text-align: center;
	font-size: x-small;
}

.buttons p {
	padding-top: 10px;
}

.middle h2 {
  color: #265e15;
  font-family: Georgia;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.middle h3 {
  color: #265e15;
  font-family: Georgia;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}

p.thumbs {
	text-align: center;
}

#clear {
	display: block;
	clear: both;
	width: 100%;
	height: 1px;
	overflow: hidden;
}

#footer {
	text-align: center;
	color: #666;
}
